.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.heading {
  margin-bottom: 2rem;
  color: var(--clr-gray-dark);
  text-align: center;
}

.input {
  border: 2px solid var(--clr-black);
  border-radius: var(--br);
  padding: 1rem;
  line-height: 2rem;
  font-size: 2.4rem;
  box-shadow: 4px 4px 0px 0px var(--clr-black);
  transition: all 200ms ease-out;
  font-weight: 500;
}

.input:focus {
  outline: 1px solid var(--clr-black);
  box-shadow: none;
}
