:root {
  /* colors */
  --clr-white: #ffffff;
  --clr-black: #000000;
  --clr-gray-light: #e5e7eb;
  --clr-gray: #374151;
  --clr-gray-dark: #1f2937;

  /* border */
  --border: 2px solid var(--clr-black);

  /* border-radius */
  --br: 0.5rem;

  /* box-shadow */
  --bs: 4px 4px 0px 0px var(--clr-black);

  /* transition */
  --tr: all 200ms ease-out;
}
